<?PHP
date_default_timezone_set('Europe/Rome');

//DB
$servername = "localhost";
$username = "USER";
$password = "PWD";
$db = "DBNAME";

//websocket
$wsHost = "ws.mysite.net";
$wsPort = "9003";
$wsSecure = "true";

//MAP
$lat=42.5;
$lon=12.0;
$zoom=6;

//updatebox
$textEnabled="false"; //enable or disable text messages in updatebox
?>
